* {
  margin:0;
}

h1 {
  background-color: lightcoral;
  text-align: center;
  padding: 20px 0;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-indent: 15px;
  border-radius: 10px;
  margin: 10px;
  flex-grow: 1;
  background-color: lightblue;
  height: auto;
  width: 250px;
  padding-bottom: 10px;
}

.card p {
  padding: 10px 0;
}

h3 {
  text-indent: 0;
  border-radius: 10px 10px 0 0 ;
  text-align: center;
  backdrop-filter: invert(.1);
}
